body {
    background: pink;
}

.container {
    text-align: center;
    margin-top: 23px;
}

h1 {
    font-size: 50px;
    background: purple;
    width: 260px;
    margin: auto;
    border-radius: 20px;
    color: white;
}

table {
    margin: auto;
}

input {
    font-size: 34px;
    border: 5px solid green;
    border-radius: 21px;
}

button {
    font-size: 40px;
    background: #978fa0;
    width: 102px;
    height: 58px;
    border-radius: 20px;
}

.calculator {
    margin-top: 10px;
    display: inline-block;
    padding: 23px;
    border-radius: 53px;
    background: #ff99f7;
}

.instruction {
    width: 400px;
    margin: 50px auto 30px auto;
}

h3 {
    font-size: 25px;
    font-weight: 600;
    text-decoration: underline;
    color: red;
}

ol {
    list-style: circle;
    font-size: 17px;
    font-weight: 600;
}

.credits {
    text-align: center;
    color: white;
    background: rgb(0, 0, 0);
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
}